<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<title>Eliminar especie</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0555c8;
  color: white;
}
.cntFrmElm {
  width: 250px;
  clear: both;
}

.cntFrmElm input {
  width: 100%;
  clear: both;
}


</style>

</head>
<body>
<div class="topnav">
	<a href="../../home">Inicio</a>
	<a href="../../especies">Index especies</a>
	<a href="../registrar">Registrar especie</a>
	<a href="../listarEspecies">Listar especies</a>
	<a href="../listarEspeciePorGuid">Listar especie por ID</a>
</div>

  <div class="alert alert-danger">
    <strong>ELIMINAR</strong> ¿Esta seguro que desea eliminar este registro del sistema?
  </div>

	<div>	    
	    <form name="formularioEliminar" action="#" th:action="@{/especies/especieEliminada}" th:object="${especie}" method="POST" 
	    	  class="cntFrmElm">	
	    	  
	    <tr>
	    GUID: <input type="text" name="guid" th:field="*{guid}" readonly>		
		</tr>
		</br>
			    	  		      
	    <tr>
	    Nombre: <input type="text" name="nombre" th:field="*{nombre}" readonly>		
		</tr>
		</br>
		
		<tr>
	    Descubierto:  <input type="text" name="descubierto" th:field="*{descubierto}" readonly>	   
	    </tr>
	    </br>
	    
	    <tr>
	    Tipo:  <input type="text" name="tipo" th:field="*{tipo}" readonly>	   
	    </tr>
	    </br>  
	    	    
        <button name="delete" type="submit" value=0>Eliminar</button>         
	    </form>	     
    </div> 
    

</body>
</html>